<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Controle de Alunos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        
        
            <div class="header_menu">

                <h3> @Html.ActionLink("Controle de Alunos", "Index", "Home", new { area = "" })</h3>

                @if (Request.IsAuthenticated)
                {

                    <nav>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li>
                                <a href="#">Cadastro Alunos</a>
                                <ul>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">HTML</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Cadastro Cidades</a>
                                <ul>
                                    <li><a href="#">Node.js</a></li>
                                    <li><a href="#">MongoDB</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Alunos por Cidade(mestre/detalhe)</a>
                                <ul>
                                    <li><a href="#">Node.js</a></li>
                                    <li><a href="#">MongoDB</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Relatorios</a>
                                <ul>
                                    <li><a href="#">Node.js</a></li>
                                    <li><a href="#">MongoDB</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Graficos</a>
                                <ul>
                                    <li><a href="#">Node.js</a></li>
                                    <li><a href="#">MongoDB</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Cadastro Cidades</a>
                                <ul>
                                    <li><a href="#">Node.js</a></li>
                                    <li><a href="#">MongoDB</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                     using (Html.BeginForm("LogOff", "Conta", FormMethod.Post, new { id = "logoffForm", style = "float:right" }))
                        {
                        <nav>
                            <ul>
                                <b>
                                    <a href="#">Olá @User.Identity.Name</a>&nbsp;&nbsp;
                                    <a href="javascript:document.getElementById('logoffForm').submit()">Sair</a>
                                </b>
                            </ul>
                        </nav>
                        }
                }
                else
                {
                    <ul>
                        <li> @Html.ActionLink("Login", "Login", "Conta") </li>
                    </ul>
                }


            </div>
       

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Controle de Alunos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>